---
import ReactComments from "@/components/Comments.tsx";
import Layout from "@/layouts/BlogLayout.astro";
import formatDate from "@/utils/formatDate";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<Layout headings={headings}>
  <main class="post mx-auto flex w-full max-w-7xl flex-col gap-4">
    <header role="presentation">
      <h1 class="text-md">
        {post.data.title} - {formatDate(post.data.publishedAt)}
      </h1>
      <p class="italic">{post.data.description}</p>
    </header>

    <Content />
    <ReactComments client:idle />
  </main>
</Layout>
