---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/post.css";
import type { MarkdownHeading } from "astro";
import TableOfContent from "@/components/TableOfContent.astro";

export type Props = { headings: MarkdownHeading[] };

const { headings } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <SEOTags />
  <body
    class="mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16"
  >
    <Header />

    <div class="flex">
      <slot />
      <aside class="sticky top-20 order-1 mx-10 -me-32 basis-64">
        {
          headings.length > 0 && (
            <nav class="sticky top-20 z-40 mt-9 hidden h-screen space-y-2  lg:block lg:w-full">
              <span class="font-black uppercase text-black dark:text-white">
                Table of Content
              </span>
              <TableOfContent headings={headings} />
              <div class="border-b-[1px] border-slate-700" />
            </nav>
          )
        }
      </aside>
    </div>
    <style is:global>
      html {
        font-family: "Open Sans";
      }
    </style>
  </body>
</html>
